<div class="container d-flex justify-content-center align-self-center ">
    <div class="card w-75 mt-5">
        <div class="card-body">
            <div class="card-title text-center mb-4 mt-1">
                <h3>Sign up</h3>
            </div>
            <hr>
            <%= form_with model:@user do |f| %>
                <% if @user.errors.any? %>
                    <div class="error_messages alert alert-danger">
                        <ul class="list-group">
                            <% for message in @user.errors.full_messages %>
                            <li class="list-item"><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <div class="form-group col">
                    <div class="col-sm-8 mx-auto">
                        <%= f.label :first_name %><br />
                        <%= f.text_field :first_name, class: "form-control"%>
                    </div>
                    <div class="col-sm-8 mx-auto">
                        <%= f.label :last_name %><br />
                        <%= f.text_field :last_name, class: "form-control" %>
                    </div>
                     <div class="col-sm-8 mx-auto">
                        <%= f.label :username %><br />
                        <%= f.text_field :username, class: "form-control" %>
                    </div>
                     <div class="col-sm-8 mx-auto">
                        <%= f.label :email %><br />
                        <%= f.text_field :email, class: "form-control" %>
                    </div>
                    <div class="col-sm-8 mx-auto">
                        <%= f.label :password %><br />
                        <%= f.password_field :password, class: "form-control" %>
                    </div>
                    <div class="col-sm-8 mx-auto">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, class: "form-control" %>
                    </div>
                </div>
                <br />
                <div class="form-group text-center">
                    <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
                </div>
            <% end %>
        </div>
    </div>
</div>