<!DOCTYPE html>
<html>
  <head>
    <title>Comp424SqlInjection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SQLINJ</a>
        </div>
        <ul class="nav navbar-nav navbar-right list-group list-group-horizontal">
          <% if current_user %>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-user"><%= current_user.username %></span>
            </li>
            <li class="list-group-item">
              <span><%= link_to "Log out", log_out_path %></span>
            </li>
          <% else %>
            <li class="list-group-item">
              <%= link_to "Sign up", sign_up_path %>
            </li>
            <li class="list-group-item">
              <%= link_to "log in", log_in_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>  
    <br />
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => flash_class(name.to_sym) %>
    <% end %>
    <%= yield %>
  </body>
</html>
